---
const {post} = Astro.props;
import {formatDate} from '../utils/helpers'

---

<a class="post-preview__link fade-in" href={post.url}>
  <article class="post-preview__article">
    <div class="post-preview__content">
      <div class="post-preview__img-wrapper">
        <picture>
          <source srcset={`${post.frontmatter.image}.webp`} type="image/webp">
          <img class="post-preview__img" src={`${post.frontmatter.image}.png`} alt={`Featured image for ${post.frontmatter.title}`} >
        </picture>
      </div>
      <div class="post-preview__text">
        {post.frontmatter?.category && <p class="post-preview__category">{post.frontmatter.category}</p>}
        <h3 class="post-preview__title">{post.frontmatter.title}</h3>
        <p class="post-preview__date">{formatDate(post.frontmatter.publishedAt)}</p>
      </div>
    </div>
  </article>
</a>

<style>
  .post-preview__link {
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .post-preview__article {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .post-preview__text {
    transition: transform 0.2s ease-in-out;
    text-align: center;
  }
  
  .post-preview__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    max-width: 100%;
  }
  
  .post-preview__img {
    max-width: 60%;
    margin-top: 0.5rem;
    height: 75%;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .post-preview__category {
    display: inline-block;
    padding: 0.25rem;
    padding-top: 0.8rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--theme-surface-1);
    border-radius: 2rem;
    color: var(--color-gray);
    margin-bottom: 0.5rem;
  }
  
  .post-preview__title {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
  }
  
  .post-preview__date {
    font-size: 0.9rem;
    color: var(--color-gray);
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .post-preview__article {
      grid-template-columns: 1fr;
    }
    .post-preview__link:hover .post-preview__img {
      box-shadow: none;
      transform: none;
    }
    .post-preview__link:hover .post-preview__text {
      transform: none;
    }
  }
  </style>
  