---
const {post} = Astro.props;
import {formatDate} from '../utils/helpers'

---

<a class="post-preview__link fade-in" href={post.url}>
  <article class="post-preview__article">
    <div class="post-preview__img-wrapper">
      <picture>
        <source srcset={`${post.frontmatter.image}`}>
        <img class="post-preview__img" src={`${post.frontmatter.image}.png`} alt={`Featured image for ${post.frontmatter.title}`} >
      </picture>
    </div>
    <div class="post-preview__text">
      {post.frontmatter?.category && <p class="post-preview__category">{post.frontmatter.category}</p>}
      <h3 class="post-preview__title">{post.frontmatter.title}</h3>
      <p class="post-preview__date">{formatDate(post.frontmatter.publishedAt)}</p>
    </div>
  </article>
</a>

<style>
  .post-preview__link {
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .post-preview__article {
    display: flex; /* Use flexbox to arrange content side by side */
    align-items: center;
    gap: 1rem;
  }
  
  .post-preview__img-wrapper {
    flex: 0 0 300px; /* Set a fixed width for the thumbnail */
    max-width: 100%;
  }
  
  .post-preview__img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .post-preview__img:hover {
    box-shadow: 0 0 0 0.25rem var(--theme-surface-1);
    transform: scale(1.05);
  }
  
  .post-preview__text {
    flex: 1; /* Let the text take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Align text to the left */
  }
  
  .post-preview__category {
    display: inline-block;
    font-size: 1.0rem;
    max-width: 75%;
    margin-left: 1.5rem;
    font-weight: bold;
    background-color: var(--theme-surface-1);
    border-radius: 2rem;
    color: var(--color-gray);
    margin-bottom: 0.5rem;
  }
  
  .post-preview__title {
    font-size: 1.5rem;
    max-width: 75%;
    margin-left: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
  }
  
  .post-preview__date {
    font-size: 1rem;
    color: var(--color-gray);
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }
  
  /* Center content on smaller screens */
  @media (max-width: 768px) {
    .post-preview__article {
      flex-direction: column;
    }

    .post-preview__img-wrapper {
      flex: 0 0 100%;
      max-width: 80%;
    }

    .post-preview__date {
      margin-left: 2.5rem;
    }

    .post-preview__category {
      margin-left: 2.5rem;
    }

    .post-preview__title {
      margin-left: 2.5rem;
    }
    
    .post-preview__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
