---
import Layout from './Layout.astro';
import Container from '../components/container.astro';
import { formatDate, slugify } from '../utils/helpers.js';
import Link from '../components/link.astro';

const { frontmatter } = Astro.props;

const seo = {
  title: frontmatter.title,
  description: frontmatter.description,
  image: frontmatter.image,
};
---
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content={frontmatter.excerpt} />
<meta property="og:title" content={frontmatter.title} />
<meta property="og:type" content="article" />
<meta property="og:url" content={frontmatter.slug} />
<meta property="og:image" content={frontmatter.image} />
<meta property="og:image:alt" content={frontmatter.alt} />
<meta property="twitter:image" content={frontmatter.image} />
<meta name="twitter:card" content={frontmatter.image} />
<meta name="twitter:site" content="@tryuppercut" />
<meta name="twitter:title" content={frontmatter.title} />
<meta name="twitter:description" content={frontmatter.excerpt} />
<meta name="twitter:image" content={frontmatter.image} />
<meta name="twitter:image:alt" content={frontmatter.alt} />

<Layout seo={seo}>
  <Container>
    <article class="post-content__article">
      <div class="post-content__top fade-in">
        {
          frontmatter.category && (
            <p class="post-content__category">
              <a href={`/blog/category/${slugify(frontmatter.category)}`}>
                {frontmatter.category}
              </a>
            </p>
          )
        }
        <h2 class="post-content__title">{frontmatter.title}</h1>
        <p class="post-content__date">
          <span class="text-gray-400">
            {frontmatter.author}
          </span>
          {' '}
          <time>{formatDate(frontmatter.publishedAt)}</time>
        </p>
        <!-- Hopefully we'll be able to use Astro's image integration for this soon -->
        {
          frontmatter.image && (
            <picture>
              <source srcset={`${frontmatter.image}.webp`} type="image/webp" />
            </picture>
          )
        }
      <div class="post-content__content flow fade-in">
        <slot />
      </div>
      <div class="text-center mt-8">
        <hr class="m-y-8" />
        <h4 class="m-b-6 font-semibold">
          Stay in touch
        </h2>
        <!--advantages-->
        <div class="flex flex-column m-b-8">
          <p class="m-b-4">
            We're here to help and answer any questions you might have. <br> We look forward to hearing more about what you're trying to solve!
          </p>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "40093919",
              formId: "038b24ae-f393-4544-baef-9d4622e14011"
            });
            {`
            document.addEventListener("hbspt.forms.postSubmit", function(event) {
                const form = event.target;
                const firstNameInput = form.querySelector('input[firstname="firstname"]');
                const lastNameInput = form.querySelector('input[lastname="lastname"]');
                const emailInput = form.querySelector('input[name="email"]');
                const companyInput = form.querySelector('input[name="company"]');
            });
            ko.identify({ email: emailInput.value, firstname: firstNameInput.value, lastname: lastNameInput.value, company: companyInput.value }, function(err, res) {
                if (err) {
                    console.log(err);
                    return;
                }
                console.log(res);
                ko.track('form-submission', {
                    formId: form.id,
                    email: emailInput.value,
                    firstname: firstNameInput.value,
                    lastname: lastNameInput.value,
                    company: companyInput.value
            });
          });
          `}
          </script>
        <hr class="m-y-8" />
        <a
          href="https://localhost:3000/blog"
          class="px-5 py-6 rounded-md hover:bg-gray-200 transition"
          >← Back to Blog</a
        >
      </div>  
    </article>
  </Container>
</Layout>

<style>
  .post-content__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .post-content__category {
    padding: 0.5rem 1rem;
    font-size: var(--step--1);
    background-color: var(--theme-surface-1);
    border-radius: 2rem;
  }
  .post-content__category a {
    text-decoration: none;
  }
  .post-content__category a:hover {
    opacity: 0.8;
  }
  .post-content__article {
    padding: 5vh 0;
  }
  .post-content__title {
    margin: 1rem auto;
    font-size: 2rem;
    padding: 0 4rem;
  }
  .post-content__date {
    margin: 0 auto;
    font-size: var(--step--1);
    color: var(--color-gray);
    font-style: italic;
  }
  .post-content__img {
    margin: 3rem 0 2rem 0;
    max-width: 50%;
    height: auto;
    border-radius: 2rem;
    object-fit: contain; /* Use 'contain' to prevent image repetition */
  }
  .post-content__content :global(img) {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }

  .post-content__content {
    margin: 0 auto;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 0 1rem; /* Adjust the horizontal padding as needed */
    text-align: left; /* Add this line to align the text to the left */
  }

  .post-content__content :global(h2) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }

  .post-content__content :global(h3) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }

  .post-content__content :global(p) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }
</style>