---
import Layout from './Layout.astro';
import Container from '../components/container.astro';
import { formatDate, slugify } from '../utils/helpers.js';
import Link from '../components/link.astro';

const { frontmatter } = Astro.props;

const seo = {
  title: frontmatter.title,
  description: frontmatter.description,
  image: frontmatter.image,
};
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={frontmatter.excerpt} />
    <meta property="og:title" content={frontmatter.title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={frontmatter.slug} />
    <meta property="og:image" content={frontmatter.image} />
    <meta property="og:image:alt" content={frontmatter.alt} />
    <meta property="twitter:image" content={frontmatter.image} />
    <meta name="twitter:card" content={frontmatter.image} />
    <meta name="twitter:site" content="@tryuppercut" />
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:description" content={frontmatter.excerpt} />
    <meta name="twitter:image" content={frontmatter.image} />
    <meta name="twitter:image:alt" content={frontmatter.alt} />
    <script type="text/javascript">
      (function() {
        var t = document.createElement('script'),
            s = document.getElementsByTagName('script')[0];
        t.async = true;
        t.id    = 'cio-forms-handler';
        t.setAttribute('data-site-id', '0210718529544e3eb175');
        t.setAttribute('data-base-url', 'https://customerioforms.com');
    
        t.src = 'https://customerioforms.com/assets/forms.js';
    
        s.parentNode.insertBefore(t, s);
      })();
    </script> 
  </head>

<Layout seo={seo}>
  <Container>
    <article class="post-content__article">
      <div class="post-content__top fade-in">
        {
          frontmatter.category && (
            <p class="post-content__category">
              <a href={`/blog/category/${slugify(frontmatter.category)}`}>
                {frontmatter.category}
              </a>
            </p>
          )
        }
        <h2 class="post-content__title">{frontmatter.title}</h1>
        <p class="post-content__date">
          <span class="text-gray-400">
            {frontmatter.author}
          </span>
          {' '}
          <time>{formatDate(frontmatter.publishedAt)}</time>
        </p>
        <!-- Hopefully we'll be able to use Astro's image integration for this soon -->
        {
          frontmatter.image && (
            <picture>
              <source srcset={`${frontmatter.image}.webp`} type="image/webp" />
            </picture>
          )
        }
      <div class="post-content__content flow fade-in">
        <slot />
      </div>
      <div class="text-center mt-8">
        <hr class="m-y-8" />
        <h4 class="m-b-6 font-semibold">
          Stay in touch
        </h2>
        <!--advantages-->
        <div class="flex flex-column m-b-8">
          <p class="m-b-4">
            We're here to help and answer any questions you might have. We look forward to hearing more about what you're trying to solve!
          </p>
          <div id="form-container" class="form-container">
          <form id="blogSubscribeForm" onsubmit="submitForm(event)">
            <div class="form-group">
              <label for="emailInput">Email:</label>
              <input type="email" pattern="^(?!.*@(gmail\.com|hotmail\.com|yahoo\.com|tds\.net|xfinity\.com|comcast\.net|outlook\.com|protonmail\.com)).+@([a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$" id="emailInput" name="email" required placeholder="erlich@aviato.com">
              <span class="error-message" id="emailError">Please enter a valid corporate email address.</span>
            </div>
            <div class="form-group">
              <label for="firstNameInput">First Name:</label>
              <input type="text" id="firstNameInput" name="firstname" required placeholder="Erlich">
            </div>
            <div class="form-group">
              <label for="lastNameInput">Last Name:</label>
              <input type="text" id="lastNameInput" name="lastname" required placeholder="Bachman">
            </div>
            <div class="form-group">
              <label for="companyInput">Company:</label>
              <input type="text" id="companyInput" name="company" required placeholder="Aviato">
            </div>
            <div class="form-group">
              <label for="websiteInput">Website:</label>
              <input type="url" id="websiteInput" name="website" required placeholder="https://www.aviato.com">
            </div>
            <div class="form-group">
              <label for="communicationConsent">Uppercut is committed to protecting and respecting your privacy, and we’ll only use your personal information to administer your account and to provide the products and services you requested from us. From time to time, we would like to contact you about our products and services, as well as other content that may be of interest to you. If you consent to us contacting you for this purpose, please tick below to say how you would like us to contact you:</label>
              <input type="checkbox" id="communicationConsent" name="communication_consent" required>
              <span>I agree to receive communication from Uppercut.</span>
            </div>
          </div>
            <div class="form-group">
              <button type="submit">Submit</button>
            </div>
          </form>
          <div id="successMessage" class="hidden">Form submitted successfully!</div>
        </div>
        <script type="text/javascript">
            function submitForm(event) {
              event.preventDefault();
                // Simulate form submission with a delay of 2 seconds (you can replace this with your actual form submission code)
              setTimeout(function() {
                document.getElementById("blogSubscribeForm").reset(); // Reset the form
                document.getElementById("blogSubscribeForm").style.display = "none"; // Hide the form
                document.getElementById("successMessage").classList.remove("hidden");
                document.getElementById("form-container").classList.add("hidden");
              }, 2000);
            }

          const submitButton = document.querySelector('button[type="submit"]');
              submitButton.addEventListener('click', function(event) {
                // Check if email input is valid
                const emailInput = document.getElementById("emailInput");
                if (!emailInput.checkValidity()) {
                  // Prevent form submission if the input is invalid
                  event.preventDefault();
                  // Display the error message
                  document.getElementById("emailError").style.display = "block";
                } else {
                  // If the input is valid, hide the error message
                  document.getElementById("emailError").style.display = "none";
                }

                // If there are no errors, proceed with the form submission
                if (emailInput.checkValidity()) {
                  submitForm(event);
                }
              });
        </script>
        <style>
          .hidden {
            display: none;
          }

          .form-container {
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 100%; /* Make the form container take full width */
            max-width: 600px; /* Set a maximum width for the form container */
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }

          .error-message {
            display: none; /* Hide the error message by default */
            color: #FF0000;
            font-size: 14px;
            margin-top: 5px;
          }

          .form-group {
            margin-bottom: 15px;
          }

          label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
          }

          input[type="text"],
          input[type="email"],
          input[type="url"],
          input[type="tel"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            transition: border-color 0.3s;
          }

          input[type="text"]:focus,
          input[type="email"]:focus,
          input[type="url"]:focus,
          input[type="tel"]:focus {
            border-color: #FC4C69;
          }

          button[type="submit"] {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            background-color: #FC4C69;
            color: #fff;
            border: none;
            margin-top: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
          }

          button[type="submit"]:hover {
            background-color: #2980b9;
          }

          .success-message {
            display: none;
            background-color: #2ecc71;
            color: #fff;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
          }

          /* Media query for smaller screens */
          @media (max-width: 768px) {
            input[type="text"],
            input[type="email"],
            input[type="url"],
            input[type="tel"] {
              width: 90%;
            }
            label {
              padding-left: 20px;
            }
            button {
              width: 90%;
              margin-left: 5px;
            }
            .post-content__title {
              font-size: 1.5rem;
            }
              .form-container {
              max-width: 90%;
              }
          }
        </style>
        <hr class="m-y-8" />
        <a
          href="https://localhost:3000/blog"
          class="px-5 py-6 rounded-md hover:bg-gray-200 transition"
          >← Back to Blog</a
        >
      </div>  
    </article>
  </Container>
</Layout>

<style>
  .post-content__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .post-content__category {
    padding: 0.5rem 1rem;
    font-size: var(--step--1);
    background-color: var(--theme-surface-1);
    border-radius: 2rem;
  }
  .post-content__category a {
    text-decoration: none;
  }
  .post-content__category a:hover {
    opacity: 0.8;
  }
  .post-content__article {
    padding: 5vh 0;
  }
  .post-content__title {
    margin: 1rem auto;
    font-size: 2rem;
    padding: 0 4rem;
  }
  .post-content__date {
    margin: 0 auto;
    font-size: var(--step--1);
    color: var(--color-gray);
    font-style: italic;
  }
  .post-content__img {
    margin: 3rem 0 2rem 0;
    max-width: 50%;
    height: auto;
    border-radius: 2rem;
    object-fit: contain; /* Use 'contain' to prevent image repetition */
  }
  .post-content__content :global(img) {
    display: block;
    margin: 2rem auto;
    max-width: 100%;
  }

  .post-content__content {
    margin: 0 auto;
    max-width: 800px; /* Adjust the maximum width as needed */
    padding: 0 1rem; /* Adjust the horizontal padding as needed */
    text-align: left; /* Add this line to align the text to the left */
  }

  .post-content__content :global(h2) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }

  .post-content__content :global(h3) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }

  .post-content__content :global(p) {
    padding-bottom: 1rem; /* Add this line to add vertical padding between paragraphs */
  }
</style>