---
import "../styles/dist/ravenbright.min.css";


/* Load components */
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

/* Load site metadata */
import siteMetadata from "../data/siteMetadata.js";

const { title, description, image, url,  } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{title}</title>
    <meta name="description" content={siteMetadata.description} />
    <meta name="keywords" content={siteMetadata.keywords} />
    <meta name="author" content={siteMetadata.author} />
    <meta name="language" content={siteMetadata.language} />

    <!-- Open Graph Tags -->
    <meta property="og:site_name" content={siteMetadata.author} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twiter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFPTPGS');
</script>
<!-- End Google Tag Manager -->

<script>
  !function(t){if(window.ko)return;window.ko=[],["identify","track","removeListeners","open","on","off","qualify","ready"].forEach(function(t){ko[t]=function(){var n=[].slice.call(arguments);return n.unshift(t),ko.push(n),ko}});var n=document.createElement("script");n.async=!0,n.setAttribute("src","https://cdn.getkoala.com/v1/pk_de6536be1ab1050411ebe8603a8149eec493/sdk.js"),(document.body || document.head).appendChild(n)}();
  </script>

<script async src="https://js.convertflow.co/production/websites/55786.js"></script>

<script src="https://tag.clearbitscripts.com/v1/pk_a60ba1c571a9a08595b30061b37d5a9f/tags.js" referrerpolicy="strict-origin-when-cross-origin"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://api.fontshare.com/v2/" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link rel="icon" sizes="192x192" href="/favicon/favicon-180x180.png" />

    <!-- Links -->
    <link rel="canonical" href="https://www.tryuppercut.com" />
    <link rel="canonical" href="https://www.tryuppercut.com/blog/" />

    <!-- Script -->
    <script src="/toggledarktheme.js" defer></script>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFPTPGS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />

    <slot />

    <Footer />
  </body>
</html>
