---
import "../styles/dist/ravenbright.min.css";


/* Load components */
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

/* Load site metadata */
import siteMetadata from "../data/siteMetadata.js";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{title}</title>
    <meta name="description" content={siteMetadata.description} />
    <meta name="keywords" content={siteMetadata.keywords} />
    <meta name="author" content={siteMetadata.author} />
    <meta name="language" content={siteMetadata.language} />

    <!-- Open Graph Tags -->
    <meta property="og:site_name" content={siteMetadata.author} />
    <meta property="og:url" content={siteMetadata.siteUrl} />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={siteMetadata.description} />
    <meta property="og:image" content="/wordmark.png" />
    <meta
      property="og:image:alt"
      content="A description of what is in the image (not a caption)"
    />

    <!-- Twiter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={siteMetadata.description} />
    <meta name="twitter:url" content={siteMetadata.name} />
    <meta name="twitter:creator" content={siteMetadata.author} />
    <meta name="twitter:image" content="https://example.com/image.jpg" />
    <meta
      name="twitter:image:alt"
      content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters."
    />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFPTPGS');
</script>
<!-- End Google Tag Manager -->

<!-- Partnero Universal -->
<script>
  (function(p,t,n,e,r,o){ p['__partnerObject']=r;function f(){
  var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];p[r]=p[r]||f.bind(f.q);p[r].q=p[r].q||f.q;o=t.createElement(n);
  var _=t.getElementsByTagName(n)[0];o.async=1;o.src=e+'?v'+(~~(new Date().getTime()/1e6));
  _.parentNode.insertBefore(o,_);})(window, document, 'script', 'https://app.partnero.com/js/universal.js', 'po');
  po('settings', 'assets_host', 'https://assets.partnero.com');
  po('program', 'NMIFYBS0', 'load');
</script>
<!-- End Partnero Universal -->

<script src="https://www.tryuppercut.com/popup-script.js"></script>

<script src="https://static.heyflow.app/widget/latest/webview.js"></script>

<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){if(window.analytics.initialized)return window.analytics[e].apply(window.analytics,arguments);var i=Array.prototype.slice.call(arguments);i.unshift(e);analytics.push(i);return analytics}};for(var i=0;i<analytics.methods.length;i++){var key=analytics.methods[i];analytics[key]=analytics.factory(key)}analytics.load=function(key,i){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=i};analytics._writeKey="pcQuLh3ezq1236wAdgQASYFo7eGWqExH";;analytics.SNIPPET_VERSION="4.16.1";
  analytics.load("pcQuLh3ezq1236wAdgQASYFo7eGWqExH");
  analytics.page();
  }}();
</script>
<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdp.customer.io/v1/analytics-js/snippet/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._writeKey=key;analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.15.3";
  analytics.load("e6e12ea13d18afdd4cff");
  analytics.page();
  }}();
  </script>

<script>tolstoyAppKey="8ec4a06e-41fa-49bf-bc3a-d53ecffb6415"</script>
<script src="https://widget.gotolstoy.com/widget/widget.js" defer></script>

<!-- Hotjar Tracking Code for https://www.tryuppercut.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3566176,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script>
!function(t){if(window.ko)return;window.ko=[],["identify","track","removeListeners","open","on","off","qualify","ready"].forEach(function(t){ko[t]=function(){var n=[].slice.call(arguments);return n.unshift(t),ko.push(n),ko}});var n=document.createElement("script");n.async=!0,n.setAttribute("src","https://cdn.getkoala.com/v1/pk_de6536be1ab1050411ebe8603a8149eec493/sdk.js"),(document.body || document.head).appendChild(n)}();
</script>
    <!-- Font -->
    <link rel="preconnect" href="https://api.fontshare.com/v2/" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link rel="icon" sizes="192x192" href="/favicon/favicon-180x180.png" />

    <!-- Links -->
    <link rel="canonical" href="https://www.tryuppercut.com" />
    <link rel="canonical" href="https://www.tryuppercut.com/blog/" />

    <!-- Script -->
    <script src="/toggledarktheme.js" defer></script>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFPTPGS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />

    <slot />

    <Footer />
  </body>
</html>
