---
import "../styles/dist/ravenbright.min.css";


/* Load components */
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

/* Load site metadata */
import siteMetadata from "../data/siteMetadata.js";

const { title, description, image, url,  } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{title}</title>
    <meta name="description" content={siteMetadata.description} />
    <meta name="keywords" content={siteMetadata.keywords} />
    <meta name="author" content={siteMetadata.author} />
    <meta name="language" content={siteMetadata.language} />

    <!-- Open Graph Tags -->
    <meta property="og:site_name" content={siteMetadata.author} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twiter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFPTPGS');
</script>
<!-- End Google Tag Manager -->

<!-- Partnero Universal -->
<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){if(window.analytics.initialized)return window.analytics[e].apply(window.analytics,arguments);var i=Array.prototype.slice.call(arguments);i.unshift(e);analytics.push(i);return analytics}};for(var i=0;i<analytics.methods.length;i++){var key=analytics.methods[i];analytics[key]=analytics.factory(key)}analytics.load=function(key,i){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=i};analytics._writeKey="pcQuLh3ezq1236wAdgQASYFo7eGWqExH";;analytics.SNIPPET_VERSION="4.16.1";
  analytics.load("pcQuLh3ezq1236wAdgQASYFo7eGWqExH");
  analytics.page();

  analytics.on('identify', function(userId, traits) {
    console.log('Segment User ID:', userId);
    console.log('Segment User Traits:', traits);
  });

  analytics.on('group', function(groupId, traits) {
    console.log('Segment Group ID:', groupId);
    console.log('Segment Group Traits:', traits);
  });

  fetchClearbitData(userId)
  .then((clearbitData) => {
    // Extract relevant data from the Clearbit response
    const companyName = clearbitData.company.name;
    const companyDomain = clearbitData.company.domain;
    const companyLogo = clearbitData.company.logo;
    const companyTech = clearbitData.company.tech;
    const companyTechCategories = clearbitData.company.category.industry;
    const companyEmployeeCount = clearbitData.company.metrics.employeesRange;

    // Create an object with dynamic traits
    const dynamicTraits = {
      clearbit_company_name: companyName,
      clearbit_company_domain: companyDomain,
      clearbit_company_logo: companyLogo,
      clearbit_company_tech: companyTech,
      clearbit_company_tech_categories: companyTechCategories,
      clearbit_company_employee_count: companyEmployeeCount,
      clearbit_company_tech: companyTech,
    };

  fetchClearbitData(groupId)
  .then((clearbitData) => {
    // Extract relevant data from the Clearbit response
    const companyName = clearbitData.company.name;
    const companyDomain = clearbitData.company.domain;
    const companyLogo = clearbitData.company.logo;
    const companyTech = clearbitData.company.tech;
    const companyTechCategories = clearbitData.company.category.industry;
    const companyEmployeeCount = clearbitData.company.metrics.employeesRange;

    // Create an object with dynamic traits
    const dynamicTraits = {
      clearbit_company_name: companyName,
      clearbit_company_domain: companyDomain,
      clearbit_company_logo: companyLogo,
      clearbit_company_tech: companyTech,
      clearbit_company_tech_categories: companyTechCategories,
      clearbit_company_employee_count: companyEmployeeCount,
      clearbit_company_tech: companyTech,
    };
  });

  document.addEventListener('convertflowFormSubmitted', function(event) {
  // Access the user's email from the event object
    var userEmail = event.detail.email;
    var userFirstName = event.detail.firstName;
    var userLastName = event.detail.lastName;
    var CompanyName = event.detail.companyName;
  });

  analytics.group(groupId, {
    name: companyName,
    domain: companyDomain,
    logo: companyLogo,
    tech: companyTech,
    tech_categories: companyTechCategories,
    employee_count: companyEmployeeCount,
  });

  analytics.identify(userId, {
    email: userEmail,
    firstName: userFirstName,
    lastName: userLastName,
    ...dynamicTraits,
      });
    });
  }}();
</script>

<script async src="https://js.convertflow.co/production/websites/55786.js"></script>

<script src="https://tag.clearbitscripts.com/v1/pk_a60ba1c571a9a08595b30061b37d5a9f/tags.js" referrerpolicy="strict-origin-when-cross-origin"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://api.fontshare.com/v2/" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://api.fontshare.com/v2/css?f=satoshi@900,700,500,400&display=swap"
      media="print"
      onload="this.media='all'"
    />

    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/favicon-180x180.png"
    />
    <link rel="icon" sizes="192x192" href="/favicon/favicon-180x180.png" />

    <!-- Links -->
    <link rel="canonical" href="https://www.tryuppercut.com" />
    <link rel="canonical" href="https://www.tryuppercut.com/blog/" />

    <!-- Script -->
    <script src="/toggledarktheme.js" defer></script>
  </head>
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFPTPGS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />

    <slot />

    <Footer />
  </body>
</html>
